body,
html {
    height: 100%;
}

body {
    background-image: url("flower background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.custom-navbar {
    background-color: transparent !important;
    box-shadow: none;
    font-family: "Playfair Display SC", "serif";
    text-align: center;
    /* optional, to remove shadow */
}

.offcanvas-title {
    font-size: 25px;
    color: #3C5B49;
}

.nav-item {
    font-size: 20px;
    padding: 5px;
}

.header {
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    text-align: center;
    padding-top: 3%;
    color: #3C5B49;
}

#blurb {
    margin: 3%;
    font-size: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #FFFDF4;
    border-radius: 25px;
    padding-bottom: 4px;
}

.words {
    padding: 15px;
}