body,
html,
main {
    background-color: #FFF8E9;
    font-family: "Playfair Display SC", serif;
    font-weight: 400;
    font-style: normal;
}

/* header */
main {
    margin: 15em;
}

/* Cursor */
.cursor {
    position: relative;
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255, 255, 255, .75);
    font-size: 48px;
    /* Increased font size */
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
}

/* Animation */
.typewriter-animation {
    animation:
        typewriter 2s steps(40) 0.2s 1 normal both,
        /* Faster typing */
        blinkingCursor 400ms steps(50) infinite normal;
    /* Faster blink */
}

@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 30%;
    }
}

@keyframes blinkingCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/* buttons */